body{
  font-size: 18px;
  height: 100%;
  /*
  background: rgb(44,39,76);
  background: linear-gradient(45deg, rgba(44,39,76,1) 0%, rgba(255,0,97,0.9962359943977591) 100%);
  */
  background-image: url('../../webroot/img/bg.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  color: #222;
  font-family: 'Titillium Web', sans-serif;
}

input[type=text], input[type=password], input[type=email], input[type=tel]{
  font-size: 18px;
  border-radius: 20px;
  padding: 15px 25px;
}

select{
  font-size: 18px;
  border-radius: 20px;
  padding: 10px 25px;
}

.text-default{
  font-size: 24px;
}

.socialmedia{
  width: 100%;
  font-size: 18px;
  border-radius: 20px;
  padding: 5px 20px;
  color: #666;
  text-align: center;
}

.btn{
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
  color: #fff;
  border-radius: 60px;
  padding: 15px 45px;
}

.btn:hover{
  font-weight: 700;
  color: #fff;
  border-width: 3px;
}

.form-item form .btn{
  color: #222;
  border-color: #222;
}

.transition{
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.parallax{
	background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

h1{
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 10px;
}

h2{
  font-size: 26px;
  font-weight: 700;
}


.container-fluid{
  /* min-height: 1000px; */
}

.small{
  font-size: 13px;
  line-height: 22px;
}

button{
  background-color: transparent;
  color:#fff;
  padding: 30px 85px;
  border-color: #fff;
  border-radius: 90px;
  border-width: 4px;
}

.logo{
  flex: 0 0 10%;
  max-width: 10%;
}

.socialmedias {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socialmedias:after {
  content: "";
  clear: both;
}

.socialmediasli {
  box-sizing: border-box;
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;

}

.socialmediasli label {
  bottom: 1px;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 1px;
  position: absolute;
  right: 1px;
  text-indent: 100%;
  top: 1px;
}

.socialmediasli + .socialmediasli {
  margin: 0 10px;
}

.instagram label {
  background-image: url('../files/ig-logo-01.png');
}

.facebook label {
  background-image: url('../files/fb-logo-01.png');
}


.socialmedias input:focus + label {

  margin-bottom: 8px;
  margin-top: -8px;

  -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.socialmedias input:checked + label {
}

hr{
  border-color: #fff;
  border-width: 1px;
  opacity: 0.3;
}

.form input, .form label{
  display: block;
}

.form input{
  width: 100%;
  border:none;
  border-radius: 8px;
  padding: 10px 15px;
}

.form label{
  margin: 25px 0 4px 0;
  padding-left: 10px;
  color: #333;
}

.form .btn{
  font-weight: 700;
  color: #333;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
}

.form .btn:hover{
  font-weight: 700;
  color: #111;
  border-width: 3px;
}

.history input, .form input{
  width: 100%;
  border:none;
  border-radius: 16px;
  padding: 10px 15px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.history .fa-clone:hover{
  font-weight: 900;
}

.menu_admin{
  /* background-color: #222; */
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ddd;
}

.menu_admin div a i{
  color:#fff;
}

.menu_admin div a i:hover{
  color:#999 !important;
}

.hr-border{
  border-bottom:solid;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  border-bottom-width: 1px;
}

.separator{
  margin: 0 10px;
}

.filters{
  font-size: 15px;
}

.filters span{
  cursor: pointer;
}

.filters span:hover{
  color:#999;
}

.box-home{
  background-color: #fff;
  border-radius: 12px;
  text-align: center;
  color: #666;
  box-shadow: 0px 0px 10px 2px #eee;
}

.box-home .btn{
  border-color: #333;
  border-style: solid;
  border-width: 2px;
  color: #333;
  border-radius: 60px;
  padding: 15px 45px;
}

.plan-list{
  color: #444;
  background-color: #dfdfdf;
  border-radius: 15px;
  margin-bottom: 40px;
}

.plan-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.price{
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 15px;
}

.month{
  font-size: 15px;
}

.totalprice{
  font-size: 14px;
}

.banner{
  /*
  background: rgb(44,39,76);
  background: linear-gradient(0deg, rgba(44,39,76,1) 0%, rgba(0,0,0) 100%);
  */
}

.banner-heading{
  font-size: 2.5em;
  padding: 0 30px 0 100px;
  color: #D4145A;
}

.color-watermelon{
  color: #D4145A;
}

.bg-color-watermelon{
  background-color: #D4145A;
  border-radius: 15px;
}

footer, footer a{
  color: #222 !important;
}

footer a:hover{
  text-decoration:none !important;
}

.youtube-video{
}


/* ---------------- ANIMATIONS ------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */

.imageRot {
   -webkit-animation:spin 1s ease-in-out;
    -moz-animation:spin 1s ease-in-out;
    animation:spin 1s ease-in-out;
}
@-moz-keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
@keyframes spin {
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

.movement {
  -webkit-animation:movement 10s ease-in-out infinite;
  -moz-animation:movement 10s ease-in-out infinite;
  animation:movement 10s ease-in-out infinite;

}
@-moz-keyframes movement {
    0% { margin-top: 0; margin-left: 0;}
    25% { margin-top: -20px; margin-left: -20px;}
    50% { margin-top: 30px; margin-left: 30px;}
    100% { margin-top: 0; margin-left: 0;}
}
@-webkit-keyframes movement {
  0% { margin-top: 0; margin-left: 0;}
  25% { margin-top: -20px; margin-left: -20px;}
  50% { margin-top: 30px; margin-left: 30px;}
  100% { margin-top: 0; margin-left: 0;}
}
@keyframes movement {
  0% { margin-top: 0; margin-left: 0;}
  25% { margin-top: -20px; margin-left: -20px;}
  50% { margin-top: 30px; margin-left: 30px;}
  100% { margin-top: 0; margin-left: 0;}
}

.movement_bg {
  -webkit-animation:movementbg 10s ease-in-out infinite;
  -moz-animation:movementbg 10s ease-in-out infinite;
  animation:movementbg 10s ease-in-out infinite;

}
@-moz-keyframes movementbg {
    0% { background-position-y: top; background-position-x: 0;}
    33% { background-position-y: -20px; background-position-x: 40px;}
    66% { background-position-y: -40px; background-position-x: 10px;}
    100% { background-position-y: top; background-position-x: 0;}
}
@-webkit-keyframes movementbg {
  0% { background-position-y: top; background-position-x: 0;}
  33% { background-position-y: -20px; background-position-x: 40px;}
  66% { background-position-y: -40px; background-position-x: 10px;}
  100% { background-position-y: top; background-position-x: 0;}
}
@keyframes movementbg {
  0% { background-position-y: top; background-position-x: 0;}
  33% { background-position-y: -20px; background-position-x: 40px;}
  66% { background-position-y: -40px; background-position-x: 10px;}
  100% { background-position-y: top; background-position-x: 0;}
}



/* -------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
**********************************************************************************************************
                                         MOBILE STYLING
**********************************************************************************************************               ----------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/


@media only screen and (min-device-width: 10px) and (max-device-width: 575px) {

  body{
    font-size: 3em;
    min-height: 2200px;
  }

  input[type=text], input[type=password], input[type=tel], input[type=email]{
    font-size: 1em;
    border-radius: 40px;
  }

  input[type=text], select{
    padding-left: 50px;
  }

  .text-default{
    font-size: 1.25em;
  }

  .socialmedia{
    font-size: 1em;
    border-radius: 40px;
  }

  .btn{
    font-size: 1em;
    text-align: center;
    padding: 30px 85px;
    border-radius: 90px;
    border-width: 4px;
  }

  h1{
    font-size: 1.75em;
    margin-top: 100px;
  }

  h2{
    font-size: 1.3em;
    margin: 30px 0 30px 0;
  }

  .container-fluid{
    /*min-height: 2000px;*/
  }

  .small{
    font-size: 0.7em;
    line-height: 1.5em;
  }

  .logo{
    flex: 0 0 25%;
    max-width: 25%;
  }

  .socialmediasli {
    box-sizing: border-box;
    display: inline-block;
    width: 160px;
    height: 160px;
    position: relative;
  }

  .socialmediasli label {
    zoom:2;
  }

  .history{
    padding-bottom: 50px;
  }

  .history .infos{
    font-size: 33px;
  }

  .filters{
    text-align: center !important;
    font-size: 1em;
  }

  .separator{
    margin: 0 30px;
  }

  .price{
    text-align: center;
    font-weight: 300;
    font-size: 2.3em;
    letter-spacing: 0px;
    line-height: 45px;
  }

  .totalprice{
    font-size: 0.4em;
  }

  .month{
    font-size:  0.4em;
  }

  select{
    font-size: 1.3em;
    border-radius: 50px;
    padding: 10px 45px;
    margin: 10px 0 30px 0;
  }

  .box-home{
    border-radius: 50px;
  }

  .box-home div h2{
    margin: 70px 0;
    font-size: 1.5em;
  }

  .box-home div a button{
    font-size: 1.3em;
    border-color: #fff;
    border-style: solid;
    color: #fff;
    border-radius: 60px;
    padding: 15px 45px;
    margin-bottom: 50px;
  }

  .box-home .btn{
    border-width: 5px;
  }

  .description-list{
    font-size: 1.2em;
    margin-bottom: 60px;
  }

  .plan-list{
    border-radius: 35px;
    margin: 40px 0;
  }

  .banner-heading{
    font-size: 1.5em;
    padding-top: 130px;
  }

  .youtube-video{
    width: 90%;
    height: 500px;
    margin-top: 50px;
  }

}
