@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700,900');



body{
	width:100%;
	margin:0;
	padding:0;
	top:0;
	font-family: 'Montserrat', sans-serif;
	/* font-weight: 300; */
	/* font-size:30px; */
	background-image:url('../../webroot/img/bg.png');
	background-repeat: no-repeat;
}	

.col0-5{ width: 90%; margin:30px 0 !important;}
.col1{ width: 90%; margin:30px 0 !important; }
.col2{width: 90%; margin:30px 0 !important;}
.col3{width: 90%;margin:30px 0 !important;}
.col4{ width: 90%; margin:30px 0 !important; }
.col5{ font-size: 70px;text-align: center;width: 90%; margin:30px 0 !important; }
.col6{font-size: 40px;text-align: center;width: 90%;margin:30px 0 !important;}
.col7{font-size: 40px !important; width: 90%; margin:30px 0 !important; }
.col8{font-size: 40px; width: 90%;margin:30px 0 !important;}
.col9{width: 100%;margin:30px 0 !important;}
.col10{ width: 100%; margin:30px 0 !important; }
.col11{ width: 100%;  margin:30px 0 !important;}
.col12{width: 100%;margin:30px 0 !important;}

.container{
	width: 100%;
	margin: 0;
	/* padding: 0; */
	-webkit-animation-duration:1.5s;
	-moz-animation-name: slidein;
	-webkit-animation-name: slidein;
	-webkit-animation-iteration-count:1;
}	


@-webkit-keyframes slidein {
	0% {margin-bottom: -120px;opacity: 0;}
	100% {margin-bottom: 0;opacity: 1;}
}	


@-moz-keyframes slidein {
	0% { margin-bottom: -120px;  opacity: 0;}
	100% { margin-bottom: 0;  opacity: 1;}
}	

.content{ padding: 30px; }
.inline{/* display: inline-block; */}

.padding{ padding: 40px; }.padding-10{ padding: 10px; }
.padding-20-30{ padding: 20px 30px; }
.padding-top{/* padding-top: 50px; */}
.padding-top-bottom-30px{padding: 30px 0;}
.padding-top-bottom{padding: 50px 0;}
.padding-bottom-30px{ padding-bottom: 30px; }
.padding-left{margin-left: 5%;}
.padding-0{padding: 0 !important;}

.margin-left{ margin-left: 25%; }
.margin-top{ margin-top:20px; }
.margin-bottom{	margin:0 0 10px 0; }
.margin-top-bottom-15{	margin:15px 0; }
.margin-0{margin: 0 !important;}
.margin-sides{ margin-left: 15px; }

.vertical-align{ vertical-align: middle; }
.vertical-align-top{ vertical-align: top; }
.middle-padding-top{ padding-top: 30px; }

.float-left{/* float: left; */ float:none;}
.float-right{/* float: right; */ display:none;}

.border-top{
	border-top: solid;	border-top-style: solid;	border-top-width: 1px;	border-top-color: #162961;
}	

.border-full{
	border: solid;		border-style: solid;	border-width: 1px;	border-color: #162961;
}	

.border-radius{
	border-radius: 10px;
}	

.top{	padding: 10px 0;	background-color: #fff;	color:#fff;	font-size: 12px;
}	

.transition{
	-webkit-transition: all 0.2s;	
	-moz-transition: all 0.2s;	
	-ms-transition: all 0.2s;	
	-o-transition: all 0.2s;	
	transition: all 0.2s;
}	

.parallax{
	background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}	




h2{
	font-size: 90px;
	color: #162961;
	font-weight: 700;
	line-height: 90px !important;
	text-align: center;
	margin:20px 0 60px 0 !important;
}	


h3{
	font-size: 72px;
	color: #162961;
	font-weight: 300;
	padding:40px 0 !important;
    text-align: center !important; 
}	



h4{
	font-size: 50px;
	color: #666;
	font-weight: 300;
	font-style: italic;
	text-align: center !important;
	padding-top: 50px !important;
	/* margin: -20px 0 0 0 !important; */
}	




a{ Text-decoration: none !important; }


.marsala{ background-color: #162961; }
.amarelo{ background-color: #F7931D; }
.verde{ background-color: #2AB573; }
.roxo{ background-color: #91268F; }
.preto{ background-color: #000000; }
.cinza{ background-color: #ccc; }
.branco{ background-color: #fff; }


.text-left{/* text-align: left; */}
.text-right{ text-align: right; }
.text-branco{color: #fff !important;}
.text-marsala{color: #162961 !important;/* text-align: center !important; */}
.line-height{line-height: 150%;}
.font-14{ font-size: 44px; }
.font-weight-700{font-weight: 700;font-size: 70px !important;}


.text-box-home{
	margin: 5px 0;	font-size: 74px;	color: #162961;	text-align: left;
}	

.logo{
	padding:30px 0;
}	

.logo img{
	width: 80%;
	text-align:center;
	margin-left: 10%;
}

.menu{
	padding: 100px 0;
	color: #fff;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}	

.line-top{
	height: 6px;	margin: 0 !important;	padding: 0 !important;	background-image: url('../../webroot/img/line_top.png');	background-size: 100%;	background-repeat: no-repeat;
}	

.social{
	font-size: 60px !important;
	display: inline-block;
	margin: 5px;
}

.menu a{
	margin: 15px 0;
    padding: 25px 0;
    background-color: #fff;
    color: #162961;
    font-size: 70px;
    text-align: center;
    display: block;
    border:solid;
    border-color:#162961;
    border-width:1px;
    border-radius:5px;


}	

.carousel-item img{
	width: 100% !important;
}

.content-item{
	width: 80%;	height: 90px;	padding: 80px;	margin-bottom:5px;	vertical-align: middle;


	border: solid;	border-style:solid;	border-color: #ddd;	border-width: thin;
}	

.content-item-thumb{
	width: 90px;	height: 90px;	vertical-align: middle;	background-size: 100%;	background-repeat:no-repeat;	background-position:center;
}	

.content-item-title{
	vertical-align: middle;	padding-left:30px;	font-size: 22px;
}	

.border-top-bottom{
	border-top: solid;	border-top-style: solid;	border-top-color: #162961;	border-top-width: 1px;


	border-bottom: solid;	border-bottom-style: solid;	border-bottom-color: #162961;	border-bottom-width: 1px;
}	

#inline-form{
	height: 1230px !important;
}

.ebook iframe{
	height: 1230px !important;
}

.box-home{
	padding: 10%;
	width:80%;
    text-align: left;

	border: dotted;	border-style: dotted;	border-color: #162961;	border-width: 1px;
}	

iframe{
	height: 500px !important;
}

.img-box-home{
	height: 480px !important;
}	

.ver-mais a{
	display: block;	font-size: 60px;	color: #666;
}	

.ver-mais{
	font-size: 60px;	color: #666;
}	

.segmentos .col8 img{
	margin: 20px 0 40px 0;
	height: auto;
	width: 90% !important;
}	

.segmentos .col8 p{
	width:90%;
	text-align: left;
	color: #fff;
	padding: 10px 0 30px 0;
	margin-bottom: 25px !important;
	/* border-bottom: solid;	border-bottom-style: solid;	border-bottom-color: #fff;	border-bottom-width: 1px; */
}	

.octagon-clip{
	-webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);	
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}	



.box-img-bg{
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}	

.img-clientes{
	width: 80%;
	height: auto;
	display: block !important;
	min-height: 80px;
	margin: 13% 0;
	background-position: center;
	background-repeat: no-repeat;
	/* background-size: contain; */
	background-size: 75%;
}	

.category{
	display: block;
	margin-bottom: 8px;
	margin-top: 30px;
	padding-top: 30px;
	text-align: center;
	font-size: 65px;
	font-weight: 700;
	color: #162961;
	border-top: solid;
	border-top-width: 2px;
	border-top-color: #162961;
}	

.subcategory{
	display: block;
	margin: 20px 0 20px 0;
	text-align: center;
	font-size: 55px;
	font-weight: 400;
	color: #666;
}	

.item{
	width: 86%;
	padding: 7%;
	margin: 1% 0 1% 1%;
	text-align: left;
	border: dotted;
	border-style: dotted;
	border-color: #162961;
	border-width: 1px;
}	

.item-img{height: 550px;background-size: contain;background-repeat: no-repeat;background-position-x: center;background-position-y: center;}	

.item h2{
	font-size: 75px;	margin: 0;
}	

.price{
	font-size: 75px;	font-weight: 400;	color: #162961;	margin-bottom: 7px;
}	

.bt_shop{
	display: block;

    width: auto;

    background-color: #162961;

    padding: 4% 6%;

    font-size: 73px;

    color: #fff;

    border-radius: 5px;
}	

.item-gallery{
	height: 400px;	background-color: #fff;
}	

.item-gallery img{
	height: 400px;
}	

.price_big{
	font-size: 40px;

    padding-top: 15px;

    margin-top: 15px;

    color: #000;

    border-top-width: 1px;

    border-top-color: #ddd;

    border-top-style: solid;
}	



.description-title{
	text-align:left;	font-size:40px;	font-weight:700; padding:40px 0 20px 0;
}	

.description{
	width: 100%;

    font-size: 40px;

    line-height: auto !important;

    color: #666;

    text-align: left;

    padding-top: 10px;
}	



.bt_add_cart{
	width:100%;	height:auto;	padding:15px;	font-family: 'Montserrat', sans-serif;	font-size:20px;	font-weight:700;	text-align:center;	color:#FFF;	border-radius:5px;	border:none !important;	
	transition:0.2s;	-o-transition:0.2s;	-ms-transition:0.2s;	-moz-transition:0.2s;	-webkit-transition:0.2s;
}	

.bt_add_cart:hover{
	background-color:#000;	border:none !important;
}	


input, select, textarea{
	display: block;	width: 100%;	
	padding: 10px;	margin: 5px 0;	
	border-radius: 5px;	border-style: solid;	
	border-width: thin;	border-color: #ccc;	
	font-size: 40px !important;
}	


select{
	width: 100%;
}	


textarea{
	height: 150px;
}	

.submit{
	background-color: #000;	
	color: #fff;	
	width: 100%;	
	padding: 15px 0;	
	border:none;	
	appearance:none;	
	-webkit-appearance:none;
}	

.submit:hover{
	background-color: #222;
}	

label{
	margin-top: 25px;
}

.main_photo2{
	height: 600px !important;
}


.missao h2{
	margin:100px 0 0 0 !important;
	font-size: 85px;
}

.footer{
	height: auto;
	background-repeat:repeat;
	background-color: #162961;
	border-top: solid;
	border-top-style: solid;
	border-top-color: #162961;
	border-top-width: 6px;
	padding-bottom: 300px !important;
}	

.footer .col8{
	vertical-align: top;
}	

.footer .col8 a{
	color: #fff;
    font-size: 60px;
    display: block;
    text-align: center;
    margin-right: 0;
    font-weight: 300;
}	

.footer .col8 .col3{
	color: #fff;
	font-size: 40px;
	border-left: none;
	border-left-style: none;
	border-left-color: none;
	border-left-width: 0;
	padding-left: 0;
	padding: 100px 0;
	text-align: center;
}	

.footer .col8 p{
	padding-top: 0!important;
	margin-top: 0  !important;
}

.footer .col8 p .col1{
	width: 30% !important;
	padding-top: 0 !important;
}


.footer-logo{
	width:30%;
	padding-bottom:120px;
	padding-top:0;
}

.footer-container a{
	display: block;
}

.footer-container .col12 .col2 img{
	display: none;
}

.footer-container .col12 .col7{
	font-size: 50px;
	text-align: center;
}



/* -------------------------- ADMIN -------------------------- */


.logout{
	float: right;	vertical-align: top;	margin: 10px 10px 0 0;
}	

.logout a{
	color: #000;	font-size: 10px;
}	

.logout a:hover{
	color: #f00;
}	

.certificados{
	height: auto; 
}	


#cke_texto{
	width: 82% !important;
}	


#welcome{
	font-size: 40px;	margin-left: 30%;	margin-top:25%;	color: #666;
}	

.bt_add{
	width: auto;

    height: auto;

    display: inline-block;

    padding: 15px 20px;

    margin-bottom: 15px;

    border-radius: 10px;

    background-color: #00cc00;

    vertical-align: middle;

    color: #fff;
}	

.bt_edit{
	background-color:#FCE901;	color:#333 !important;
}	

.bt_delete{
	background-color: #f00;	color:#fff !important;
}	

.bt_edit, .bt_delete{
	width: auto;	height: auto;	padding: 9px 10px;	border-radius: 19px;	vertical-align: middle;	font-size: 13px !important;
}	

.bt_edit:hover, .bt_delete:hover{
	-webkit-transform: rotate(-20deg); /* Safari */

    transform: rotate(-20deg);
}	

.login-screen{
	padding: 50px 10px !important;	background-color: #fff;	border-radius: 5px;
}	

.lightbox-box{
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
}

#banners{
height: auto !important;
}

#noticias_info_titulo{
	height: 550px;
}

#noticias_info_titulo h3{
	line-height: 60px;
    font-size: 60px;
}

.comp{
	margin-bottom: 40px;
	text-align: center;
}

.comp2{
	font-size: 25px;
	color: #444;
}

.face-bt, .google-bt, .linkedin-bt{
	width: auto;
	padding: 15px 20px;
	margin: 20px 5px;
	display: inline-block;
	border-radius: 5px;
	color: #fff !important;
	font-size: 35px;
}

.face-bt{
	background-color: #3B5998;
}

.google-bt{
	background-color: #DB4437;
}

.linkedin-bt{
	background-color: #0077B5;
}

.galeria_text{
	font-size: 40px !important;
}

#noticias_info_titulo {
    height: auto !important;
    margin-bottom: 50px !important;
}

.black_overlay, .whitescreen, .whitescreen img{
	width: 100% !important;
}