<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Email Move</title>
  </head>
  <body style="width:100%; text-align:center; background-color:#ddd; font-family:Arial, sans serif; color:#333;" align="center">
    <div style="width:auto; text-align:center; margin:30px; border-radius:12px; background-color:#fff; padding:80px; margin:40px 100px;" align="center">

      <div class="text-align:text-center;">
        <img src="https://movedl.com/app/webroot/files/move_logo_positive.png" alt="move-logo" style="width:150px;">
      </div>
      <p><br></p>

      <div class="text-align:text-center; margin-top:90px;">
        <p>
          <h1 class="">Seu pagamento ainda não foi autorizado =(</h1>
        </p>
        <p>
          <span style="">Aguarde, se em dentro de 2 horas você não receber um e-mail de ativação, fale conosco!</span><br>
          <h3 style="margin-top:-10px; color:#000;"><br>Whatsapp: (45) 99968-3799</h3>
          <h3 style="margin-top:-10px; color:#000;">contato@movedl.com</h3><br>
        </p>
        <p>
          <a href="https://movedl.com" style="color:#E2067C !important; text-decoration:none !important; font-size:20px; font-weight:bold;">> Acesse o site.</a>
        </p>


        <p>
          <br><br>
          <span style="font-size:13px; color:#888;">Este é um email seguro de ativação de conta, enviado pela Move.</span><br>
          <a href="https://movedl.com" style="color:#333 !important; text-decoration:none !important; font-size:13px; font-weight:bold;">movedl.com</a>
        </p>

      </div>

    </div>
  </body>
</html>
